body {
background-color: #1C1C1C;
text-align: left;
color: white;
}

#div1 {
padding: 10px;
 background-color: #8D4F09;
 margin: 10px;
 border : 1px solid white;
}

#div2 {
background-color: #1B1139;
padding: 10px;
margin-right: 700px;
padding-bottom: 10px;
border : 1px solid white;
}

#div3 
{
padding: 10px;
padding-bottom:10px;
background-color: #1B1139;
margin-right: 700px;
border: 1px solid white;
margin-top: 10px
}

#div4
{
padding: 10px;
padding-bottom:10px;
background-color: #1B1139;
margin-right: 700px;
border: 1px solid white;
margin-top: 10px
}

#div5
{
padding: 10px;
padding-bottom:10px;
background-color: #1B1139;
margin-right: 700px;
border: 1px solid white;
margin-top: 10px
}

#title {
color: white;
text-align: center;
font-family: dubai;
font-weight: bold;
margin-bottom: 100px;
border: 3px solid white;
margin-left: 450px;
margin-right: 450px;
font-size: 45px;
}

#second-title {
color: lightblue;
text-align: left;
font-family: arial;
}

#autor {
color:gray;
font-family: dubai;
text-align:right;
font-weight: bold;
}

#copyright {
color:yellow;
font-family: sans-serif;
text-align: right;
}

#YouTube
{
color:red;
font-family:sans-serif;
text-align: right;
}

#Twitter
{
color:lightblue;
font-family: sans-serif;
text-align: right;
}

#GitHub
{
color:darkgrey;*
font-family: sans-serif;
text-align:right;
}
